# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Cursor  
#  Cursor is an AI-powered code editor.`.cursorignore` specifies files/directories to 
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore
cde/cdem/cdemp/save/wo_emo/ppl/ppl_valid/events.out.tfevents.1705941103.jasmine
cde/cdem/cdemp/save/wo_emo/events.out.tfevents.1705940908.jasmine
cde/cdem/cdemp/save/wo_emo/loss/loss_train/events.out.tfevents.1705940909.jasmine
cde/cdem/cdemp/save/wo_emo/loss/loss_valid/events.out.tfevents.1705941103.jasmine
cde/cdem/cdemp/save/wo_emo/lr/learning_rata/events.out.tfevents.1705940909.jasmine
cde/cdem/cdemp/save/wo_emo/ppl/ppl_train/events.out.tfevents.1705940909.jasmine
cde/cdem/cdemp/save/wo_emo/wo_emo.txt
cde/cdem/cdemp/save/wo_emo/CEMP_19999_42.5037
.DS_Store
cde/cdem/cdemp/save/wo_con/accuracy/acc_train/events.out.tfevents.1705937814.jasmine
cde/cdem/cdemp/save/wo_con/bce/bce_train/events.out.tfevents.1705937814.jasmine
cde/cdem/cdemp/save/wo_con/bce/bce_valid/events.out.tfevents.1705937964.jasmine
cde/cdem/cdemp/save/wo_con/CEMP_19999_42.8913
cde/cdem/cdemp/save/wo_con/cemp_wo_con.txt
cde/cdem/cdemp/save/wo_con/config.txt
cde/cdem/cdemp/save/wo_con/events.out.tfevents.1705937813.jasmine
cde/cdem/cdemp/save/wo_con/loss/loss_train/events.out.tfevents.1705937814.jasmine
cde/cdem/cdemp/save/wo_con/loss/loss_valid/events.out.tfevents.1705937964.jasmine
cde/cdem/cdemp/save/wo_con/lr/learning_rata/events.out.tfevents.1705937814.jasmine
cde/cdem/cdemp/save/wo_con/ppl/ppl_train/events.out.tfevents.1705937814.jasmine
cde/cdem/cdemp/save/wo_con/ppl/ppl_valid/events.out.tfevents.1705937964.jasmine
cde/cdem/cdemp/save/wo_div/accuracy/acc_train/events.out.tfevents.1705932674.jasmine
cde/cdem/cdemp/save/wo_div/bce/bce_train/events.out.tfevents.1705932674.jasmine
cde/cdem/cdemp/save/wo_div/bce/bce_valid/events.out.tfevents.1705932892.jasmine
cde/cdem/cdemp/save/wo_div/CDEMP_19999_39.2283
cde/cdem/cdemp/save/wo_div/cdemp_wo_div.txt
cde/cdem/cdemp/save/wo_div/config.txt
cde/cdem/cdemp/save/wo_div/events.out.tfevents.1705932674.jasmine
cde/cdem/cdemp/save/wo_div/loss/loss_train/events.out.tfevents.1705932674.jasmine
cde/cdem/cdemp/save/wo_div/loss/loss_valid/events.out.tfevents.1705932892.jasmine
cde/cdem/cdemp/save/wo_div/lr/learning_rata/events.out.tfevents.1705932674.jasmine
cde/cdem/cdemp/save/wo_div/ppl/ppl_train/events.out.tfevents.1705932674.jasmine
cde/cdem/cdemp/save/wo_div/ppl/ppl_valid/events.out.tfevents.1705932892.jasmine
cde/cdem/cdemp/save/wo_emo/accuracy/acc_train/events.out.tfevents.1705940909.jasmine
cde/cdem/cdemp/save/wo_emo/bce/bce_train/events.out.tfevents.1705940909.jasmine
cde/cdem/cdemp/save/wo_emo/bce/bce_valid/events.out.tfevents.1705941103.jasmine
cde/cdem/cdemp/save/wo_emo/config.txt
cde/cdem/cdemp/save/moel/bce/bce_train/events.out.tfevents.1705745317.jasmine
cde/cdem/cdemp/save/moel/bce/bce_valid/events.out.tfevents.1705746105.jasmine
cde/cdem/cdemp/save/moel/config.txt
cde/cdem/cdemp/save/moel/events.out.tfevents.1705745317.jasmine
cde/cdem/cdemp/save/moel/events.out.tfevents.1705753686.jasmine
cde/cdem/cdemp/save/moel/loss/loss_train/events.out.tfevents.1705745317.jasmine
cde/cdem/cdemp/save/moel/loss/loss_valid/events.out.tfevents.1705746105.jasmine
cde/cdem/cdemp/save/moel/lr/learning_rata/events.out.tfevents.1705745317.jasmine
cde/cdem/cdemp/save/moel/MoEL_13999_42.2736
cde/cdem/cdemp/save/moel/ppl/ppl_train/events.out.tfevents.1705745317.jasmine
cde/cdem/cdemp/save/moel/ppl/ppl_valid/events.out.tfevents.1705746105.jasmine
cde/cdem/cdemp/save/moel/results_moel.txt
cde/cdem/cdemp/save/mrmd/accuracy/acc_train/events.out.tfevents.1705808325.jasmine
cde/cdem/cdemp/save/mrmd/accuracy/acc_train/events.out.tfevents.1705824803.jasmine
cde/cdem/cdemp/save/mrmd/accuracy/acc_train/events.out.tfevents.1705825383.jasmine
cde/cdem/cdemp/save/mrmd/bce/bce_train/events.out.tfevents.1705808325.jasmine
cde/cdem/cdemp/save/mrmd/bce/bce_train/events.out.tfevents.1705824803.jasmine
cde/cdem/cdemp/save/mrmd/bce/bce_train/events.out.tfevents.1705825383.jasmine
cde/cdem/cdemp/save/mrmd/bce/bce_valid/events.out.tfevents.1705809230.jasmine
cde/cdem/cdemp/save/mrmd/config.txt
cde/cdem/cdemp/save/mrmd/events.out.tfevents.1705808325.jasmine
cde/cdem/cdemp/save/mrmd/events.out.tfevents.1705824728.jasmine
cde/cdem/cdemp/save/mrmd/events.out.tfevents.1705824803.jasmine
cde/cdem/cdemp/save/mrmd/loss/loss_train/events.out.tfevents.1705808325.jasmine
cde/cdem/cdemp/save/mrmd/loss/loss_train/events.out.tfevents.1705824803.jasmine
cde/cdem/cdemp/save/mrmd/loss/loss_train/events.out.tfevents.1705825383.jasmine
cde/cdem/cdemp/save/mrmd/loss/loss_valid/events.out.tfevents.1705809230.jasmine
cde/cdem/cdemp/save/mrmd/lr/learning_rata/events.out.tfevents.1705808325.jasmine
cde/cdem/cdemp/save/mrmd/lr/learning_rata/events.out.tfevents.1705824803.jasmine
cde/cdem/cdemp/save/mrmd/lr/learning_rata/events.out.tfevents.1705825383.jasmine
cde/cdem/cdemp/save/mrmd/MRMD_19999_42.2657
cde/cdem/cdemp/save/mrmd/mrmd_results.txt
cde/cdem/cdemp/save/mrmd/ppl/ppl_train/events.out.tfevents.1705808325.jasmine
cde/cdem/cdemp/save/mrmd/ppl/ppl_train/events.out.tfevents.1705824803.jasmine
cde/cdem/cdemp/save/mrmd/ppl/ppl_train/events.out.tfevents.1705825383.jasmine
cde/cdem/cdemp/save/mrmd/ppl/ppl_valid/events.out.tfevents.1705809230.jasmine
cde/cdem/cdemp/save/mrmd/results.txt
cde/cdem/cdemp/save/trs/accuracy/acc_train/events.out.tfevents.1705740975.jasmine
cde/cdem/cdemp/save/trs/bce/bce_train/events.out.tfevents.1705740975.jasmine
cde/cdem/cdemp/save/trs/bce/bce_valid/events.out.tfevents.1705741073.jasmine
cde/cdem/cdemp/save/trs/config.txt
cde/cdem/cdemp/save/trs/events.out.tfevents.1705740975.jasmine
cde/cdem/cdemp/save/trs/loss/loss_train/events.out.tfevents.1705740975.jasmine
cde/cdem/cdemp/save/trs/loss/loss_valid/events.out.tfevents.1705741073.jasmine
cde/cdem/cdemp/save/trs/lr/learning_rata/events.out.tfevents.1705740975.jasmine
cde/cdem/cdemp/save/trs/ppl/ppl_train/events.out.tfevents.1705740975.jasmine
cde/cdem/cdemp/save/trs/ppl/ppl_valid/events.out.tfevents.1705741073.jasmine
cde/cdem/cdemp/save/trs/results_trs.txt
cde/cdem/cdemp/save/trs/TRS_19999_42.8777
cde/cdem/cdemp/save/wo_cog_/accuracy/acc_train/events.out.tfevents.1768570629.autodl-container-e7fa45a3ae-ee2bb641
cde/cdem/cdemp/save/wo_cog_/bce/bce_train/events.out.tfevents.1768570629.autodl-container-e7fa45a3ae-ee2bb641
cde/cdem/cdemp/save/wo_cog_/bce/bce_valid/events.out.tfevents.1768570800.autodl-container-e7fa45a3ae-ee2bb641
cde/cdem/cdemp/save/wo_cog_/CEM_13999_44.0154
cde/cdem/cdemp/save/wo_cog_/cem_results.txt
cde/cdem/cdemp/save/wo_cog_/config.txt
cde/cdem/cdemp/save/wo_cog_/events.out.tfevents.1768570628.autodl-container-e7fa45a3ae-ee2bb641
cde/cdem/cdemp/save/wo_cog_/loss/loss_train/events.out.tfevents.1768570629.autodl-container-e7fa45a3ae-ee2bb641
cde/cdem/cdemp/save/wo_cog_/loss/loss_valid/events.out.tfevents.1768570800.autodl-container-e7fa45a3ae-ee2bb641
cde/cdem/cdemp/save/wo_cog_/lr/learning_rata/events.out.tfevents.1768570629.autodl-container-e7fa45a3ae-ee2bb641
cde/cdem/cdemp/save/wo_cog_/ppl/ppl_train/events.out.tfevents.1768570629.autodl-container-e7fa45a3ae-ee2bb641
cde/cdem/cdemp/save/wo_cog_/ppl/ppl_valid/events.out.tfevents.1768570800.autodl-container-e7fa45a3ae-ee2bb641
cde/cdem/cdemp/save/moel/accuracy/acc_train/events.out.tfevents.1705745317.jasmine
cde/cdem/cdemp/save/cCEM_21999_42.4063/accuracy/acc_train/events.out.tfevents.1768142239.autodl-container-e7fa45a3ae-ee2bb641
cde/cdem/cdemp/save/cCEM_21999_42.4063/bce/bce_train/events.out.tfevents.1768138336.autodl-container-e7fa45a3ae-ee2bb641
cde/cdem/cdemp/save/cCEM_21999_42.4063/bce/bce_train/events.out.tfevents.1768142239.autodl-container-e7fa45a3ae-ee2bb641
cde/cdem/cdemp/save/cCEM_21999_42.4063/bce/bce_valid/events.out.tfevents.1768138508.autodl-container-e7fa45a3ae-ee2bb641
cde/cdem/cdemp/save/cCEM_21999_42.4063/bce/bce_valid/events.out.tfevents.1768142413.autodl-container-e7fa45a3ae-ee2bb641
cde/cdem/cdemp/save/cCEM_21999_42.4063/CEM_15999_28.5800
cde/cdem/cdemp/save/cCEM_21999_42.4063/CEM_21999_42-Copy1.4063
cde/cdem/cdemp/save/cCEM_21999_42.4063/cem_results.txt
cde/cdem/cdemp/save/cCEM_21999_42.4063/config.txt
cde/cdem/cdemp/save/cCEM_21999_42.4063/events.out.tfevents.1768138336.autodl-container-e7fa45a3ae-ee2bb641
cde/cdem/cdemp/save/cCEM_21999_42.4063/events.out.tfevents.1768142239.autodl-container-e7fa45a3ae-ee2bb641
cde/cdem/cdemp/save/cCEM_21999_42.4063/loss/loss_train/events.out.tfevents.1768138336.autodl-container-e7fa45a3ae-ee2bb641
cde/cdem/cdemp/save/cCEM_21999_42.4063/loss/loss_train/events.out.tfevents.1768142239.autodl-container-e7fa45a3ae-ee2bb641
cde/cdem/cdemp/save/cCEM_21999_42.4063/loss/loss_valid/events.out.tfevents.1768138508.autodl-container-e7fa45a3ae-ee2bb641
cde/cdem/cdemp/save/cCEM_21999_42.4063/loss/loss_valid/events.out.tfevents.1768142413.autodl-container-e7fa45a3ae-ee2bb641
cde/cdem/cdemp/save/cCEM_21999_42.4063/lr/learning_rata/events.out.tfevents.1768138336.autodl-container-e7fa45a3ae-ee2bb641
cde/cdem/cdemp/save/cCEM_21999_42.4063/lr/learning_rata/events.out.tfevents.1768142239.autodl-container-e7fa45a3ae-ee2bb641
cde/cdem/cdemp/save/cCEM_21999_42.4063/ppl/ppl_train/events.out.tfevents.1768138336.autodl-container-e7fa45a3ae-ee2bb641
cde/cdem/cdemp/save/cCEM_21999_42.4063/ppl/ppl_train/events.out.tfevents.1768142239.autodl-container-e7fa45a3ae-ee2bb641
cde/cdem/cdemp/save/cCEM_21999_42.4063/ppl/ppl_valid/events.out.tfevents.1768138508.autodl-container-e7fa45a3ae-ee2bb641
cde/cdem/cdemp/save/cCEM_21999_42.4063/ppl/ppl_valid/events.out.tfevents.1768142413.autodl-container-e7fa45a3ae-ee2bb641
cde/cdem/cdemp/save/cdemp/accuracy/acc_train/events.out.tfevents.1705928331.jasmine
cde/cdem/cdemp/save/cdemp/bce/bce_train/events.out.tfevents.1705928331.jasmine
cde/cdem/cdemp/save/cdemp/bce/bce_valid/events.out.tfevents.1705928555.jasmine
cde/cdem/cdemp/save/cdemp/CDEMP_19999_40.3729
cde/cdem/cdemp/save/cdemp/cdemp_results.txt
cde/cdem/cdemp/save/cdemp/config.txt
cde/cdem/cdemp/save/cdemp/events.out.tfevents.1705928330.jasmine
cde/cdem/cdemp/save/cdemp/loss/loss_train/events.out.tfevents.1705928331.jasmine
cde/cdem/cdemp/save/cdemp/loss/loss_valid/events.out.tfevents.1705928555.jasmine
cde/cdem/cdemp/save/cdemp/lr/learning_rata/events.out.tfevents.1705928331.jasmine
cde/cdem/cdemp/save/cdemp/ppl/ppl_train/events.out.tfevents.1705928331.jasmine
cde/cdem/cdemp/save/cdemp/ppl/ppl_valid/events.out.tfevents.1705928555.jasmine
cde/cdem/cdemp/save/cem/accuracy/acc_train/events.out.tfevents.1705763974.jasmine
cde/cdem/cdemp/save/cem/bce/bce_train/events.out.tfevents.1705763974.jasmine
cde/cdem/cdemp/save/cem/bce/bce_valid/events.out.tfevents.1705764442.jasmine
cde/cdem/cdemp/save/cem/CEM_19999_42.2424
cde/cdem/cdemp/save/cem/config.txt
cde/cdem/cdemp/save/cem/events.out.tfevents.1705763974.jasmine
cde/cdem/cdemp/save/cem/loss/loss_train/events.out.tfevents.1705763974.jasmine
cde/cdem/cdemp/save/cem/loss/loss_valid/events.out.tfevents.1705764442.jasmine
cde/cdem/cdemp/save/cem/lr/learning_rata/events.out.tfevents.1705763974.jasmine
cde/cdem/cdemp/save/cem/ppl/ppl_train/events.out.tfevents.1705763974.jasmine
cde/cdem/cdemp/save/cem/ppl/ppl_valid/events.out.tfevents.1705764442.jasmine
cde/cdem/cdemp/save/cem/results_cem.txt
cde/cdem/cdemp/save/mime/accuracy/acc_train/events.out.tfevents.1705758683.jasmine
cde/cdem/cdemp/save/mime/bce/bce_train/events.out.tfevents.1705758683.jasmine
cde/cdem/cdemp/save/mime/bce/bce_valid/events.out.tfevents.1705758962.jasmine
cde/cdem/cdemp/save/mime/config.txt
cde/cdem/cdemp/save/mime/events.out.tfevents.1705758682.jasmine
cde/cdem/cdemp/save/mime/loss/loss_train/events.out.tfevents.1705758683.jasmine
cde/cdem/cdemp/save/mime/loss/loss_valid/events.out.tfevents.1705758962.jasmine
cde/cdem/cdemp/save/mime/lr/learning_rata/events.out.tfevents.1705758683.jasmine
cde/cdem/cdemp/save/mime/MIME_21999_41.9742
cde/cdem/cdemp/save/mime/ppl/ppl_train/events.out.tfevents.1705758683.jasmine
cde/cdem/cdemp/save/mime/ppl/ppl_valid/events.out.tfevents.1705758962.jasmine
cde/cdem/cdemp/save/mime/results_mime.txt
cde/cdem/cdemp/save/cCEM_21999_42.4063/accuracy/acc_train/events.out.tfevents.1768138336.autodl-container-e7fa45a3ae-ee2bb641
cde/cdem/cdemp/vectors/glove.6B.300d.txt
